{% extends 'master.html' %}

{% load static %}
{% block title %}
    Python
{% endblock title %}
About
{% block body %}
<div style="height:250px; width: 100%;">

    <div style="height:100%; width:40% ;  text-align:center ; float:left;  margin-left: 11%; margin-top:5%"> <br>
        <h3 style="color: coral; font-family:bold">Become a Certified</h3>
        <h2 style="color:blue ;font-family:serif">Python Developer</h2>
        <h6 style="color:lightslategray;">By Enrolling Java Developer Certification Course, You will be a master in
            developing custom web applications for the end customer. You will be a master of coding as this course
            teaches you from basic to advance levels. Our Java classes in pune will help you to get future-ready and
            make you stand on the market.
        </h6><br>
        <button type="menu" class="btn btn-primary">Download Python Syllabus</button>
    </div>
    
        <div style="height: 100%; width:60%;float:right; margin-top:-22% ; margin-right:-5%"> <center><img src="{% static 'images/student.png' %}" alt="" height="100%"  width="50%">
        </center>
        </div>
</div><br><br><br><br><br><br>

<div class="details-white-box" style="width:100%; height:300px; text-align:center;">
    <ul class="d-none d-md-block" style="margin-right:-520px">
        <li style="display:inline-block; margin-right:20px;">
            <div class="img-section"><img src="https://thekiranacademy.com/img/orange-calender-img.svg"
                    alt="Courses img" width="80" height="80"></div>
            <div class="text-section">
                <h4>Course Duration</h4>
                <p>3 Months Course Duration</p>
            </div>
        </li>
        <li style="display:inline-block; margin-right:20px;">
            <div class="img-section"><img src="https://thekiranacademy.com/img/blue-calender-img.svg" alt="Courses img"
                    width="80" height="80"></div>
            <div class="text-section">
                <h4>Upcoming Python Batch</h4>
                <p>Starting on <strong>Mon, 1st Apr 24</strong></p>

            </div>
        </li>
        <li style="display:inline-block;">
            <div class="img-section"><img src="https://thekiranacademy.com/img/green-calender-img.svg"
                    alt="Courses img"></div>
            <div class="text-section">
                <h4>Placement Assistance</h4>
                <p>Get 100% Job Assistance</p>
            </div>
        </li>
    </ul>
    <div style="height: 75%; width:35%;float:left; margin-top:-15% ; margin-left:15%"> <center><img src="{% static 'images/placement.png' %}" alt="" height="100%"  width="50%">
    </center>
    </div>
</div>
<div style="height:100%; width:100%">
    <div style="height:100%; width:60% ; text-align:center; color:blueviolet; margin-left:5%; margin-top:-5%">
        <h4 style="font-family:bold; color:orange; "> What is Python Course?</h4>
        <h1 style="font-family:bold; color:black">Python Developer Course Overview</h1>
        <h6 style="color:lightslategray;;">This Python Training course covers the fundamentals of Python and how to apply it to real-world applications. The modules, lesson-end projects, and assignments comprising the curriculum cover data operations in Python, strings, conditional statements, error handling, shell scripting, web scraping, and the commonly used Python web framework Django.

            Both Python Online Classes and Python Classroom training covers the advanced level of a teaching module in which real-life web application covers, how Python made web application in use as Python is a popular and versatile programming language used in a wide range of industries, from web development to scientific research..</h6>

    </div>
    <div style="height: 75%; width:35%;float:right; margin-top:-18% ; margin-right:5%;"> <center><img src="{% static 'images/python12.png' %}" alt="" height="75%"  width="109% ">
    </center>
</div><br>
{% endblock body %}